<!DOCTYPE html>
<html lang ="es">
    <head>
      <title> Notebook HP 14-dq2024la</title>
        <link href="style.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Ephesis&family=Lobster&family=Roboto+Condensed:ital,wght@1,300&family=Ubuntu:ital@1&display=swap" rel="stylesheet">
        <script src = "script.js" defer></script>
        <script src="https://unpkg.com/vue@3.3.2/dist/vue.global.js"></script>
        
    </head>
    <body>
        <div class="grid-layout" > 
            <div class="caja1"> 
                <!--caja 1 titulo-->
                
                 <h1 id="titulo-producto"> {{ title }}</h1>
                 

            </div>

            <div class="caja2">  
                <!--caja 2 foto-->
                
                <img :Src = "image_url" id="imagen"><br>            
            
            </div>
            <div class="caja3">  
                <!--caja 3 caracteristicas-->
                <img v-for="imagen in imagenes" class="imagen-miniatura" :src="imagen" @mouseover="cambiarImagen(imagen)" >
                

                
                <h2>Precio: $ {{notebooksTypes[notebookSeleccionada].price}}</h2>

                <p v-if="mostrarCarroDeCompras">Carro de compras</p>
                <ul>

                    <li v-for="(notebookComprada, indice) in notebooksCompradas" :key="indice">
                        {{notebookComprada.ramAmount}}: $ {{notebookComprada.price}}
                        <button @click="eliminarCompra(indice)" >Eliminar</button>
                    </li>
                        
                    
                    
                </ul>
                <p>Total:{{total}}</p>
               
                <h3 class ="titulos">Características principales</h3>
                <ul>

                    <li v-for="(notebookType, indice) in notebooksTypes" :key="indice" >
                      <button @click="seleccionarTipoPc(indice)">Ram: {{notebookType.ramAmount}}</button>

                      <button @click="clickBotonCompra(indice)" > Comprar </button>
                    </li>
                </ul>

                <!--<h3> Tipo computadora: </h3>
                <div v-for="notebookType in notebooksTypes">
                
                <ul>
                     <li>Precio: {{ notebookType.price }}</li> 
                    <li>RAM: {{ notebookType.ramAmount }}</li>
                </ul>
            </div> una forma de hacer la lista -->

                
                
            </div>
            <div class="caja4">  
                <!--caja 4 descripcion-->
                
                <p id="texto-descripcion">{{ description }}</p>

                <h3 class="parrafo-especial">somos vendedores oficiales de <a :href="factory_url" id="link"target="_blank" rel="noonpener noreferrer">Hp</a> Argentina</h3>

            </div>
            <div class="caja5">  
                <!--caja 5 parte comentarios y devolucion-->
                <div id="listado-comentario">

                </div>
                <h3>opiniones del producto</h3>
                    <form>
                        <label><strong>Comentario: </strong><textarea id="Texto-comentario" name="comentario"></textarea></label>
                           <!-- <h4>Dejanos una calificacion del mismo</h4>-->
                            <label>
                            calificacion
                            <select id="puntaje-producto">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                
                            </select>
                        </label>
                            <input id="boton-enviar-comentario" type="submit" value="Enviar">
                        </form>
                        

            </div>

        </div>
        

    </body>


</html>